body {
  background-color: #282c34;
}

.input, .btn {
  align-items: center;
  background-color: hsl(0, 0%, 100%);
  border-color: hsl(0, 0%, 80%);
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  cursor: default;
  display: block;
  box-sizing: border-box;
  text-decoration: none;
  vertical-align: center;
  user-select: none;
  position: relative;
  font-size: 1rem;
  outline: none;
}

.btn {
  margin: 2px;
  cursor: pointer;
  padding: 7px;
}

button.btn-load {
  position: relative;
  color: transparent;
  &:after {
    top: 2px;
    left: 22px;
    position: absolute;
    content: '';
    width: 16px;
    height: 16px;
    border: 6px solid;
    border-color: #1f232c #1f232c #1f232c transparent;
    animation: loading-loader 1.2s linear infinite;
    margin: 0 auto;
    border-radius: 50%;
  }

  @keyframes loading-loader {
    0% {
      transform: rotate(0);
      animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
    50% {
      transform: rotate(900deg);
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      border-color: lighten(#1f232c, 10) lighten(#1f232c, 10) lighten(#1f232c, 10) transparent;
    }
    100% {
      transform: rotate(1800deg);
    }
  }
}

.movie-wrapper-card {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.label {
  direction: rtl;
  margin-bottom: 5px;
  display: block;
  .required {
    color: red !important;
  }
}

.text-center {
  text-align: center;
}

.d-flex-center {
  display: flex;
  justify-content: center;
  align-self: center;
}

.block-center {
  margin-left: auto;
  margin-right: auto;
}

.color-light {
  color: white;
}

.input {
  padding: .575rem .95rem;
}

.app {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  .select {
    margin: 0 auto;
    width: 500px;
  }
}

.emailDiv {
  //text-align: center;
  margin: 10px auto;
}

#email {
  padding: 7px;
  width: 100%;
}

.page-btn {
  margin-top: 1rem;
}

button[disabled] {
  cursor: not-allowed;
}


