.movie-card {
  cursor: pointer;
  width: 175px;
  height: 275px;
  background: #282c34;
  margin: 5px;
  box-shadow: -2px 13px 22px -6px rgba(0,0,0,0.75);
  -webkit-box-shadow: -2px 13px 22px -6px rgba(0,0,0,0.75);
  -moz-box-shadow: -2px 13px 22px -6px rgba(0,0,0,0.75);
  border: 1px solid rgba(#fff, .1);
  overflow: hidden;

  .movie-card-image {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
  }
}
