.loading-container {
  top: 0;
  left: 0;
  background: #1f232c;
  position: fixed;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loading {
  width: 64px;
  height: 64px;
  border: 6px solid;
  border-color: #fff #fff #fff transparent;
  animation: loading-loader 1.2s linear infinite;
  margin: 0 auto;
  border-radius: 50%;
}

@keyframes loading-loader {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    border-color: lighten(#8290C4FF, 10) lighten(#8290C4FF, 10) lighten(#8290C4FF, 10) transparent;
  }
  100% {
    transform: rotate(1800deg);
  }
}

.loading-text {
  display: flex;
  margin-top: 1rem;
  font-size: 1.2rem;
  font-family: "Whitney Book Regular", sans-serif;
  color: white;

  .loading-dots {
    margin-left: 10px;
    span {
      width: 5px;
      height: 5px;
      margin: 10px 2px 0;
      background: #fff;
      border-radius: 50%;
      display: inline-block;
      animation: loading-dots-jumping 1.2s linear infinite;

      &:nth-child(2) {
        animation-delay: .3s;
      }

      &:nth-child(3) {
        animation-delay: .7s;
      }
    }
  }

  @keyframes loading-dots-jumping {
    50%{
      transform: translateY(0px);
    }
    70%{
      background: lighten(#8290C4FF, 10);
      transform: translateY(-3px);
    }
  }
}
